<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Home Page</title>
    </head>
    <body>
        <h1> Sentiment Based Product Recommendation System</h1>
        <br>
        <p> Input a username to recieve 5 product recommentations </p>
        <p> These are based on a user-user recommendation system </p>
        <p> and then the 5 products with the highest percentage of </p>
        <p> positive reviews are returned</p>
    </body>
    <br>
    <form action="#", method="post">
        <p>Form fields:</p>
        <label for="username">Username:</label>
        <input type= "username" id="username"   name= "username">
        <button type= "submit" value= "submit">"Submit"</button>
    </form>
    <br>
    <br>
    <body>{{html_results}}</body>
    
</html>




